<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
        <listener class-name="Utilities.ExtentListener"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.GetAll_Test"/>
      <class name="Tests.CreateNodes_Test"/>
      <class name="Tests.WithoutToken"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
