<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
            <class name="com.Tests.ApiValidationTest"/>
            <class name="com.Tests.CreateUserTest"/>
            <class name="com.Tests.GetUserTest"/>
            <class name="com.Tests.Patch_Test"/>
            <class name="com.Tests.Practice1_Test"/>
            <class name="com.Tests.Practice2_Test"/>
            <class name="com.Tests.Practice3_Test"/>
            <class name="com.Tests.Practice4_Test"/>
            <class name="com.Tests.SeleniumTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
