<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Tests.LoginTest"/>
      <class name="com.Tests.GetTrainee_Test"/>
      <class name="com.Tests.CreateTrainee_Test"/>
      <class name="com.Tests.UpdateTrainee_Partial_Test"/>
      <class name="com.Tests.UpdateTrainee_Test"/>
      <class name="com.Tests.DeleteTrainee_Test"/>
      <class name="com.Tests.InvalidTrainee_Test"/>
      <class name="com.Tests.InvalidLogin_Test"/>
      <class name="com.Tests.Options_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
